{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}
    Magic Eight Ball - Reset Password
{% endblock %}

{% block header %}
    Reset Password
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button class="btn btn-success btn-block btn-lg mt-5" type="submit">Reset Password</button>
        </form>
        <h4 class="text-center mt-5">Remembered your password? You can go back and <a href="{% url 'login' %}" class="">log in!</a></h4>
    </div>
</div>
{% endblock %}