{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}
	Magic Eight Ball - Reset Your Password
{% endblock %}

{% block header %}
    New Password
{% endblock %}

{% block content %}    
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button class="btn btn-success btn-block btn-lg mt-5" type="submit">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}