@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700|Roboto:300,400,500,600,700');

/* -------------------------------------------------- Core/Sitewide CSS */

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: url("/static/img/alt-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 34px 0px;
}

.condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.overlay {
    background: rgba(255, 255, 255, 0.60);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* -------------------------------------------------- Navbar */

nav {
    box-shadow: 0px 0px 10px #333;
    transition: all 0.15s ease-in-out;
}

.fixed-top {
    padding: 2px 1rem;
}

.navbar-dark .navbar-brand {
    font-weight: 700;
    transition: all 0.25s ease-in-out;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-dark .navbar-brand:hover {
    transform: scale(1.10);
    transition: all 0.25s ease-in-out;
}

.nav-item a,
.nav-item a:hover {
    transition: all 0.25s ease-in-out;   
}

.dropdown-menu.show, .dropdown-menu {
    background-color: #28a745;
    border: none;
}

.dropdown-item,
.dropdown-item:focus,
.dropdown-item:active {
    background-color: #28a745;
    color: rgb(128, 128, 128);
    color: rgba(255, 255, 255, 0.50);
    transition: all 0.15s ease-in-out;
}

.dropdown-item:hover {
    background-color: #1e7e34;
    color: rgb(192, 192, 192);
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.15s ease-in-out;
}

.welcome {
    font-size: 65%;
}

/* -------------------------------------------------- Navbar Media Queries */

@media(min-width: 768px) {
    .dropdown-menu-right {
        box-shadow: 0px -7px 0px #28a745, 0px 1px 10px #333;
        border-radius: 0px 0px .25rem .25rem;
        margin-top: 4px;
    }
}

/* -------------------------------------------------- Mobile Navbar */

button.navbar-toggler:focus {
    outline: none;
}

button.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* -------------------------------------------------- Body Content */

#mainball {
	width: 250px; /* Static width/height due to page simplicity */
}

#response-data-container {
	height: 150px; /* Static height for response from API */
	display: table;
}

#response-data {
	display: table-cell;
	vertical-align: middle;
}

#response-history,
#profile-table-container {
    border-radius: .25rem;
    overflow: hidden;
}

#clear-history {
    display: block;
    padding: 10px 0px;
}

#clear-history-button {
    display: none;
}

/* -------------------------------------------------- Body Content Media Queries */

@media (max-width: 460px) {
    h1.display-3 {
        font-size: 3.0rem;        
    }
}

@media (min-width: 461px) and (max-width: 575px) {
    h1.display-3 {
        font-size: 3.5rem;
    }
}

/* -------------------------------------------------- Footer */

footer {
    color: rgb(128, 128, 128);
    color: rgba(255,255,255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    box-shadow: 0px 0px 10px #333;
}

footer .lead {
    padding: 0;
    margin: 0;
}

footer .lead a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(192, 192, 192);
    color: rgba(255,255,255, 0.75);
    transition: all 0.25s ease-in-out;
}

footer .lead a:hover {
    color: #fff;
    transition: all 0.25s ease-in-out;
}