{% extends 'base.html' %}

{% block title %}
	Magic Eight Ball - User Profile
{% endblock %}

{% block header %}
    {{ user }}'s Profile
{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-12 col-md-6 offset-md-3 mt-5">
        <h4>Your profile information is below. When you're done here, you can <a href="{% url 'index' %}">head home</a>.</h4>
        <p class="lead"><strong>Username:</strong> {{ user }}</p>
        <p class="lead"><strong>Email:</strong> {{ user.email }}</p>
    </div>
</div>
{% endblock %}